// header
.header {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #939393;
    position: relative;
    z-index: 5;

    &__logo {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: $dark;
    }

    &__nav { 
        display: flex;
        align-items: center;

        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        position: relative;
        color: $dark;

        transition: all ease-in 0.2s;

        &:hover {
            color: black;

            .header__nav_burger {
                background-color: black;

                &::before {
                    background-color: black;
                }
            }
        }
        
        &_burger {
            width: 20px;
            height: 2px;

            display: block;
            margin-right: 5px;
            margin-bottom: 4px;
            background-color: $dark;
            border-radius: 20px;

            position: relative;

            transition: all ease-in 0.3s;

            &::before {
                content: " ";
                position: absolute;
                top: 0;

                width: 15px;
                height: 2px;
    
                display: block;
                transform: translateY(4px);
                background-color: $dark;
                border-radius: 20px;

                transition: transform ease-in 0.4s;
            }
        }

        &.active {

            .header__nav_burger {
                transform: rotate(45deg) translateY(4px);

                &::before {
                    width: 100%;
                    transform: rotate(-90deg);
                }
            }
        }
    }
    
    &__menu {
        margin-top: 1px;
        position: relative;
        width: 100%;
        height: calc(100vh - 50px);
        z-index: 3;

        span {
            position: absolute;
            top: 0;
            left: 0;
            
            width: 100%;
            height: 100%;
            
            clip-path: circle(10%);
            opacity: 0;
            transition: all ease-in 0.5s;
            
            background-color: white;
        }

        .wrap {
            opacity: 0;
            position: relative;
            z-index: 4;
            align-items: flex-start;
            transition: all ease-in 0.4s;

            li {
                padding-top: 20px;
            }
            a {
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 15px;
                color: $dark;
                transition: all ease-in 0.6s;

                &:hover {
                    text-decoration: underline;
                    color: black;
                }
            }
        } 
    }

    &.active {
        .header__menu {
            span {
                clip-path: circle(100%);
                opacity: 1;
            }
            .wrap { opacity: 1; }
        }
    }
}