.about {
    margin-top: 40px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 50%;

        p {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: black;
        }
    }
    &__right {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &_header {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;

            color: $dark;

            width: 450px;

            span {
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;

                color: #000000;
            }
        }

        &_concept {
            margin-top: 5px;

            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;

            color: $dark;
            width: 450px;
        }

        &_link {
            margin-top: 25px;
            margin-bottom: 45px;

            li {
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 500;
                font-size: 36px;
                line-height: 45px;
                color: #464847;

                height: 50px;
                width: 450px;

                border-width: 1px 0px;
                border-style: solid;
                border-color: rgba(215, 215, 215, 0.35);

                transition: all ease-in 0.3s;

                &:not(:first-child) {
                    margin-top: 15px;
                }

                &:hover {
                    color: black;
                    border-color: #464847;;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .about {
        .wrapper {
            flex-wrap: wrap;
        }

        &__left{
            width: 100%;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__right {
            width: 100%;
            margin-top: 30px;
            align-items: flex-start;
            justify-content: flex-start;

            &_header,
            &_concept {
                width: 100%;
            }

            &_link {
                li {
                    width: calc(100vw - 40px);
                }
            }
        }
    }
}