.show {
    height: 300vh;

    &__row {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;

        &_big {
            width: 60%;

            img {
                width: 100%;
                height: 50%;
            }
        }

        &_small { 
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                text-align: center;
                font-family: 'Lexend Deca';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
    
                color: $dark;
    
                width: 450px;
    
                span {
                    font-family: 'Lexend Deca';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
    
                    color: #000000;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .show {
        height: 300vh;
    
        &__row {
            display: flex;
            // align-items: center;
            flex-wrap: wrap;
            width: 100%;
            min-height: 100vh;
    
            &_big {
                width: 100%;
    
                img {
                    width: 100%;
                    height: 50%;
                }
            }

            &_small {
                width: 100%;
                height: 10%;
            }

            &:nth-child(2) {
                .show__row_big {
                    order: 1;
                }
                .show__row_small {
                    order: 2;
                }
            }
        }
    }
}